<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    <meta charset="UTF-8">
    <!-- Basic CSS to set background color to light blue -->
    <style type = "text/css" />
        body {
            background-color: #8bbdd9;
        }
    </style>

</head>
<body>

  <h1>Welcome to the GPA and Class Grade Calculator!</h1>

  <h2>Menu</h2>
  <!-- Links act as a menu by directing new or returning users to the appropriate first page -->
  <ul>
      <li><a href = "http://agucwa.pythonanywhere.com/gpa/classinformation">New User</a></li>
      <li><a href = "http://agucwa.pythonanywhere.com/gpa/login">Returning user</a></li>
  </ul>
<p>
    NOTE: This website is for entertainment purpose only. All data submitted in these forms are not private, and security is not guaranteed.
</p>
</body>
</html>